# Created by .ignore support plugin (hsz.mobi)
# Project exclude paths
/vue-client/build/
# Project exclude paths
/.gradle/
/vue-client/.gradle/
# Project exclude paths
/springboot-server/build/
/springboot-server/build/classes/java/main/